.body{
   /* max-width: 55rem; */
   min-width: 65rem;
   height: 50rem;
   margin-top: 40px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr;
   grid-template-areas: 
   "code analyzers";
   gap: 30px;
}

.body p{
   text-align: left;
   font-size: 18px;
   font-weight: 600;
   margin: 3% 0;
}

.code{
   grid-area: code;
   flex-direction: column;
}


.analyzers{
   height: 100%;
   grid-area: analyzers;
   display: flex;
   flex-direction: column;
   gap: 5%;
   padding: 0px 30px;
   border-radius: 10px;
   background-image: linear-gradient(to bottom right, #00ACD8, #3F58BB);
}

.analyzers-area {
   height: 20%;
}

.analyzers p{
   color: white;
   margin: 0 auto 20 auto;
}

.buttons{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 10px;
}

.buttons button{
   height: 40px;
   color: white;
   font-size: 16px;
   font-weight: 600;
   background-color: transparent;
   border: 2px solid white;
   border-radius: 10px;
   cursor: pointer;
   transition: all 250ms;
   /* margin-right: 10px; */
}

.buttons button:hover{
   color: #03A7D6;
   background-color: white;
   border: 2px solid #03A7D6;
}


.results{
   height: 80%;
}

.results .results-area{
   width: 100%;
   height: 92%;
   background-color: rgba(255, 255, 255, 0.8);
   border: none;
   border-radius: 10px;
}

.token-item{
   display: flex;
   padding: 10px 20px;
}

.token-item p{
   width: 35%;
   display: block;
   margin: 0;
   color: #3F58BB;
}

.token-item p:not(:first-child){
   width: 65%;
}